{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<section class="container">
		<h1>{{ product.title }}</h2>
		<p>{{ product.description }}</p>
		<p>Prix :
			{{ product.price }}
			€</p>
		<p>Stock :
			{{ product.stock }}</p>
		<p>Catégorie :
			{{ product.category.name }}</p>
		<p>Vendeur :
			{{ product.seller.firstname }}
			{{ product.seller.firstname }}</p>
	</section>
{% endblock %}
