{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<section class="container products">
		{% for product in products %}
			<a href="{{path ('app_product', {'id': product.id})}}">
				<div class="product">
					<h2>{{ product.title }}</h2>
					<p>{{ product.description }}</p>
					<p>{{ product.price }}
						€</p>
					{# <p>{{ product.updatedat|date("d/m/Y h:m") }}</p> #}
				</div>
			</a>
		{% endfor %}
	</section>
{% endblock %}
